<div class="upload-form">
    <h1>Upload page</h1>
    
    <form ng-controller="uploadCtrl as up" name="up.upload_form">
        <p>Single Image with validations</p>
        
        <input type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"
        /> 
        
        <p>Image thumbnail: </p>
        <img style="width:100px;" ngf-thumbnail="up.file || 'img/no_image.gif'" />
        
        <i ng-show="up.upload_form.file.$error.required">*required</i><br>
        <i ng-show="up.upload_form.file.$error.maxSize">File too large {{up.file.size / 1000000|number:1}}MB: max 20M</i>
        
        <button type="submit" ng-click="up.submit()">submit</button>
        <p>{{up.progress}}</p>
    
    </form>

    <ul>
        <li><a ng-href="/">Home page</a></li>
    </ul>
</div>